<app-navbar></app-navbar>
<div class="content-wrapper" style="min-height: 1345.31px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">

        <section class="content">

            <div class="container-fluid">
                <div id="videos"
                    style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh;">
                    <video class="video-player larger" id="user-2"
                        style="width: 600px;height: 600px;border-radius: 20%;" autoplay playsinline></video>
                    <br>
                    <br>
                    <video class="video-player" style="height: 150px; width: 200px;border-radius: 20%;" id="user-1"
                        autoplay playsinline></video>
                </div>

                <div class="step">
                    <button id="create-offer" class="btn btn-warning">Create Offer</button>
                </div>

                <textarea id="offer-sdp"></textarea>

                <div class="step">
                    <button id="create-answer" class="btn btn-primary">Create Answer</button>
                </div>

                <textarea id="answer-sdp"></textarea>

                <div class="step">
                    <button id="add-answer" class="btn btn-success">Add Answer</button>
                </div>
            </div>
        </section>
    </section>
</div>