<app-navbar></app-navbar>

<div class="untree_co-section">
  <div class="container">
      <div class="row justify-content-center"> <!-- Center the form -->
          <div class="col-md-8">
              <div class="row mb-5">
                  <div class="col-md-12">
                      <h2 class="h3 mb-3 text-black" style="font-family: cursive;">PAY NOW</h2>
                      <div class="p-3 p-lg-9 border bg-white" style="border: 1px solid white;border-radius: 10px;">
                          <form style="margin: 15px;" [formGroup]="PaymentForm">
                              <div class="input-group w-100 couponcode-wrap">
                                  <input type="text" class="form-control" matInput formControlName="visaIban" placeholder="IBAN"  aria-describedby="button-addon2">
                              </div>
                              <br>
                              <div class="input-group w-100 couponcode-wrap">
                                  <input type="text" class="form-control" matInput formControlName="visaFullname" placeholder="Full Name"/>
                              </div>
                              <br>
                              <div class="input-group w-100 couponcode-wrap">
                                <input type="text" class="form-control" matInput formControlName="visaCvv" placeholder="CVV"/>
                            </div>
                            <br>
                            <div class="input-group w-100 couponcode-wrap">
                              <input type="date" class="form-control" placeholder="Expired Date" matInput formControlName="visaExpiredDate"/>
                          </div>
                          <br><br>
                              <div class="form-group" style="text-align: center;">
                                  <button class="btn btn-secondary btn-lg" (click)="checkout()">Place Order</button> <!-- Larger button -->
                                 &nbsp; &nbsp; &nbsp;
                                  <button class="btn btn-primary btn-lg"(click)="checkout()">Pay with PayPal</button> <!-- PayPal button -->
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<app-footer></app-footer>