<app-navbar></app-navbar>

		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>Everything you need is here</h1>
								<p class="mb-4">More than just an online market.</p>
								<br><br><br>
							</div>
						</div>
						<div class="col-lg-7">
							<div class="hero-img-wrap">
								<img src="../../assets/images/couch.png" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
			</div>

		<div class="why-choose-section">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-6">
						<h2 class="section-title">Why Choose Us</h2>
						<p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique.</p>

						<div class="row my-5">
							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="../../assets/images/truck.svg" alt="Image" class="imf-fluid">
									</div>
									<h3>Fast &amp; Free Shipping</h3>
									<p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="../../assets/images/bag.svg" alt="Image" class="imf-fluid">
									</div>
									<h3>Easy to Shop</h3>
									<p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="../../assets/images/support.svg" alt="Image" class="imf-fluid">
									</div>
									<h3>24/7 Support</h3>
									<p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="../../assets/images/return.svg" alt="Image" class="imf-fluid">
									</div>
									<h3>Hassle Free Returns</h3>
									<p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
								</div>
							</div>

						</div>
					</div>

					<div class="col-lg-5">
						<div class="img-wrap">
							<img src="../../assets/images/why-choose-us-img.jpg" alt="Image" class="img-fluid">
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- End Why Choose Us Section -->

		<!-- Start We Help Section -->
		<div class="we-help-section">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-7 mb-5 mb-lg-0">
						<div class="imgs-grid">
							<div class="grid grid-1"><img src="../../assets/images/img-grid-1.jpg" alt="Untree.co"></div>
							<div class="grid grid-2"><img src="../../assets/images/img-grid-2.jpg" alt="Untree.co"></div>
							<div class="grid grid-3"><img src="../../assets/images/img-grid-3.jpg" alt="Untree.co"></div>
						</div>
					</div>
					<div class="col-lg-5 ps-lg-5">
						<h2 class="section-title mb-4">We Help You Make Modern Interior Design</h2>
						<p>Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. Pellentesque habitant morbi tristique senectus et netus et malesuada</p>

						<ul class="list-unstyled custom-list my-4" >
							<li>Donec vitae odio quis nisl dapibus malesuada</li>
							<li>Donec vitae odio quis nisl dapibus malesuada</li>
							<li>Donec vitae odio quis nisl dapibus malesuada</li>
							<li>Donec vitae odio quis nisl dapibus malesuada</li>
						</ul>
						<p><a herf="#" class="btn">Explore</a></p>
					</div>
				</div>
			</div>
		</div>
		<!-- End We Help Section -->
<!-- <div class="testimonial-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto text-center">
                <h2 class="section-title">Testimonials</h2>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="testimonial-slider-wrap text-center">
                    <div id="testimonial-nav">
                        <span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
                        <span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
                    </div>

                    <div class="testimonial-slider" id="myTestimonialSlider">
                        <div class="item" *ngFor="let obj of userService.testimonialAccepted">
                            <div class="row justify-content-center">
                                <div class="col-lg-8 mx-auto" >
                                    <div class="testimonial-block text-center">
                                        <blockquote class="mb-5">
                                            <p>&ldquo;{{obj.testimonialMessage}}...</p>
                                        </blockquote>
                                        <div class="author-info">
                                            <div class="author-pic">
                                                <img src="../../assets/images/person-1.png" alt="Maria Jones" class="img-fluid">
                                            </div>
                                            <h3 class="font-weight-bold">{{obj.firstName}} {{obj.lastName}}</h3>
                                            <span class="position d-block mb-3">CEO, Co-Founder, XYZ Inc.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="blog-section" >
	<div class="container" >
		<div class="row mb-5" > 
			<div class="col-md-6" >
				<h2 class="section-title" style="font-family: cursive;">Testimonials</h2>
			</div><br><br><br><br><br><br><br><br>
<!-- Carousel wrapper -->
<div class="container d-flex justify-content-center align-items-center vh-50" style="height: 600px;border-radius: 10%;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
    <div id="carouselExampleControls" class="carousel slide text-center carousel-dark" data-mdb-ride="carousel" style="width: 100%;">
        <div class="carousel-inner">
	  <div class="carousel-item active">
		<img class="rounded-circle shadow-1-strong mb-4"
		  src="../../assets/uploadImage/c4f0800f-3367-4ece-b745-0f7d10189da7_feras.jpg" alt="avatar"
		  style="width: 150px;" />
		<div class="row d-flex justify-content-center">
		  <div class="col-lg-8">
			<h5 class="mb-3">Feras Al-khuzai</h5>
			<p>Al5za3i</p>
			<p class="text-muted">
			  <i class="fas fa-quote-left pe-2"></i>
			  I hope you like the site, my friends.
			</p>
		  </div>
		</div>
		
	  </div>

	  <div class="carousel-item " *ngFor="let obj of guestService.testimonialAccepted">
		<img class="rounded-circle shadow-1-strong mb-4"
		  src="../../assets/uploadImage/{{obj.imagePath}}" alt="avatar" style="width: 150px;" />
		<div class="row d-flex justify-content-center">
		  <div class="col-lg-8">
			<h5 class="mb-3">{{obj.firstName}} {{obj.lastName}}</h5>
			<p>{{obj.username}}</p>
			<p class="text-muted">
			  <i class="fas fa-quote-left pe-2"></i>
			  {{obj.testimonialMessage}}.
			</p>
		  </div>
		</div>
		
	  </div>
	</div>
	<button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleControls"
	  data-mdb-slide="prev">
	  <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
	  <i class="fa fa-arrow-left" aria-hidden="true" style="color: black;"></i>
	</button>
	<button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleControls"
	  data-mdb-slide="next" >
	  <span class="carousel-control-next-icon" aria-hidden="true">  </span>
	  <i class="fa fa-arrow-right" aria-hidden="true" style="color: black;"></i>
	</button>
  </div>
</div>
</div>
</div>
</div>

  <!-- Carousel wrapper -->

		<!-- Start Popular Product -->
	
		
		<!-- Start Blog Section -->
		<div class="blog-section" style="margin-top: -60px;">
			<div class="container">
				<div class="row mb-5">
					<div class="col-md-6">
						<h2 class="section-title" style="font-family: cursive;">Category</h2>
					</div>
			
				</div>

				<div class="row">

					<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0" *ngFor="let obj of guestService.category" (click)="getallProductCategory(obj.categoryId)">
						<div class="post-entry">
							<p  class="post-thumbnail"><img src="../../assets/uploadImage/{{obj.categoryImage}}"  alt="Image" class="img-fluid"></p>
							<div class="post-content-entry">
								<h3>{{obj.categoryName}}</h3>
								<div class="meta">
									<span>{{obj.categoryDescription}}</span>
								</div>
							</div>
						</div>
					</div>

				

					

				</div>
			</div>
		</div>
		<!-- End Blog Section -->	


<app-footer></app-footer>

