<app-navbar></app-navbar>

		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>{{guestService.HomeContent.paragraph1}}</h1>
								<p class="mb-4">{{guestService.HomeContent.paragraph2}}</p>
								<br><br><br>
							</div>
						</div>
						<div class="col-lg-7">
							<div class="hero-img-wrap">
								<img src="../../assets/images/couch.png" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
			</div>

		<div class="why-choose-section">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-6">
						<h2 class="section-title">Why Choose Us</h2>
						<p>{{guestService.HomeContent.paragraph3}}.</p>

						<div class="row my-5">
							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="../../assets/images/truck.svg" alt="Image" class="imf-fluid">
									</div>
									<h3>Fast &amp; Free Shipping</h3>
									<p>{{guestService.HomeContent.paragraph4}}.</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="../../assets/images/bag.svg" alt="Image" class="imf-fluid">
									</div>
									<h3>Easy to Shop</h3>
									<p>{{guestService.HomeContent.paragraph5}}.</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="../../assets/images/support.svg" alt="Image" class="imf-fluid">
									</div>
									<h3>24/7 Support</h3>
									<p>{{guestService.HomeContent.paragraph6}}.</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="../../assets/images/return.svg" alt="Image" class="imf-fluid">
									</div>
									<h3>Hassle Free Returns</h3>
									<p>{{guestService.HomeContent.paragraph7}}.</p>
								</div>
							</div>

						</div>
					</div>

					<div class="col-lg-5">
						<div class="img-wrap">
							<img src="../../assets/uploadImage/{{guestService.HomeContent.paragraph8}}" alt="Image" class="img-fluid">
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- End Why Choose Us Section -->

		<!-- Start We Help Section -->
		<div class="we-help-section">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-7 mb-5 mb-lg-0">
						<div class="imgs-grid">
							<div class="grid grid-1"><img src="../../assets/uploadImage/{{guestService.HomeContent2.paragraph6}}" alt="Untree.co"></div>
							<div class="grid grid-2"><img src="../../assets/uploadImage/{{guestService.HomeContent2.paragraph7}}" alt="Untree.co"></div>
							<div class="grid grid-3"><img src="../../assets/uploadImage/{{guestService.HomeContent2.paragraph8}}" alt="Untree.co"></div>
						</div>
					</div>
					<div class="col-lg-5 ps-lg-5">
						<h2 class="section-title mb-4">{{guestService.HomeContent2.paragraph1}}</h2>
						<p>{{guestService.HomeContent2.paragraph2}}</p>

						<ul class="list-unstyled custom-list my-4" >
							<li>{{guestService.HomeContent2.paragraph3}}</li>
							<li>{{guestService.HomeContent2.paragraph4}}</li>

						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- End We Help Section -->
<!-- <div class="testimonial-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto text-center">
                <h2 class="section-title">Testimonials</h2>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="testimonial-slider-wrap text-center">
                    <div id="testimonial-nav">
                        <span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
                        <span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
                    </div>

                    <div class="testimonial-slider" id="myTestimonialSlider">
                        <div class="item" *ngFor="let obj of userService.testimonialAccepted">
                            <div class="row justify-content-center">
                                <div class="col-lg-8 mx-auto" >
                                    <div class="testimonial-block text-center">
                                        <blockquote class="mb-5">
                                            <p>&ldquo;{{obj.testimonialMessage}}...</p>
                                        </blockquote>
                                        <div class="author-info">
                                            <div class="author-pic">
                                                <img src="../../assets/images/person-1.png" alt="Maria Jones" class="img-fluid">
                                            </div>
                                            <h3 class="font-weight-bold">{{obj.firstName}} {{obj.lastName}}</h3>
                                            <span class="position d-block mb-3">CEO, Co-Founder, XYZ Inc.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="testimonial-section">
	<div class="container">
	  <div class="row">
		<div class="col-lg-7 mx-auto text-center">
		  <h2 class="section-title">Testimonials</h2>
		</div>
	  </div>
  <br><br><br>
	  <div class="row justify-content-center">
		<div class="col-lg-12">
		  <div class="testimonial-slider-wrap text-center">
  
			<!-- Add carousel controls here -->
			<div id="testimonial-nav">
			  <span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
			  <span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
			</div>
  
			<!-- Initialize the carousel -->
			<div id="testimonial-carousel" class="carousel slide" data-ride="carousel">
			  <div class="carousel-inner" role="listbox">
				<div class="carousel-item" *ngFor="let obj of guestService.testimonialAccepted; let i = index" [ngClass]="{ 'active': i === 0 }">
				  <!-- Testimonial content here -->
					<p><i class="fa fa-quote-right" aria-hidden="true" style="color: #808080;"></i>&nbsp;
						{{ obj.testimonialMessage }}&nbsp;<i class="fa fa-quote-right" aria-hidden="true" style="color: #808080;"></i>
					</p>
					<br><br><br>
				  <div class="author-info">
					<div class="author-pic">
						<img src="../../assets/uploadImage/{{obj.imagePath}}"  alt="Maria Jones" style="width: 100px;height: 100px;" class="img-fluid img-circle">
					</div>
					<h5 class="">{{obj.firstName}} {{obj.lastName}}</h5>
					<span class="position d-block mb-3">{{obj.username}}</span>
				</div>
				
				</div>
			  </div>
			</div>
  
		  </div>
		</div>
	  </div>
	</div>
  </div>

  <!-- Carousel wrapper -->

		<!-- Start Popular Product -->
	
		
		<!-- Start Blog Section -->
		<div class="untree_co-section product-section before-footer-section">
			<div class="container"  >
				<div class="row">
					<div class="col-lg-7 mx-auto text-center">
					  <h2 class="section-title">Category</h2>
					  <br><br><br>

					</div>
				  </div>
				<div class="row">
					<div *ngFor="let obj of guestService.category" class="col-12 col-md-4 col-lg-3 mb-5" (click)="getallProductCategory(obj.categoryId)" >
						<span class="product-item" href="#">
							<img src="../../assets/uploadImage/{{obj.categoryImage}}" style="width: 250px;height: 250px;border-radius: 10%;" class="img-fluid product-thumbnail">
							<h3 class="product-title">{{obj.categoryName}}</h3>
							<p class="product-price text-dark">

								{{obj.categoryDescription.length <= 30 ? obj.categoryDescription : (obj.categoryDescription | slice:0:30)+'....' }} 
							</p>
				
							<div style="display: flex; align-items: center;">
								<p style="margin-right: 10px;" class="icon-cross"  >
									<img src="../../assets/images/eyes.svg" class="img-fluid">

								</p>
							</div>
						</span>
					</div>
				</div>
				
			</div>
			
			</div>
		<!-- End Blog Section -->	


<app-footer></app-footer>

