
		<!-- Start Footer Section -->
		<footer class="footer-section">
			<div class="container relative">

				<div class="sofa-img">
					<img src="../../assets/images/sofa.png" alt="Image" class="img-fluid">
				</div>

				<div class="row">
					<div class="col-lg-8">
						<div class="subscription-form">
							<h3 class="d-flex align-items-center"><span class="me-1"><img src="../../assets/images/envelope-outline.svg" alt="Image" class="img-fluid"></span><span>Subscribe here to get many benefits</span></h3>

							<form [formGroup]="subscriptionForm">
								<div style="display: flex;">
									<div class="col-auto">
										<input type="text" matInput formControlName="fullname" class="form-control" placeholder="Enter your name">
									</div>
									<div class="col-auto">
										<input type="email" matInput formControlName="email" class="form-control" placeholder="Enter your email">
									</div>
									<div class="col-auto">
										<button class="btn btn-primary" (click)="subscription()" >
											<span class="fa fa-paper-plane" ></span>
										</button>
									</div></div>
							</form>

						</div>
					</div>
				</div>

				<div class="row g-5 mb-5">
					<div class="col-lg-4">
						<div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">PLANET<span>.</span></a></div>
						<p class="mb-4">{{guestService.HomeContent2.paragraph5}}.</p>

					</div>

					

				</div>

				<div class="border-top copyright">
					<div class="row pt-4">
						<div class="col-lg-6">
							<p class="mb-2 text-center text-lg-start">Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a >FERAS</a> Distributed By <a >PLANET</a>  <!-- License information: https://untree.co/license/ -->
            </p>
						</div>

					

					</div>
				</div>

			</div>
		</footer>
		<!-- End Footer Section -->	