<app-navbar></app-navbar>

		<!-- Start Hero Section -->
        <div class="hero">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-lg-5">
                        <div class="intro-excerpt">
                            <h3 style="color: white;font-family: cursive;">Planet Store - From Space to Earth Let's talk to you about us here</h3>
                          <br><br><br><br><br><br><br>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="hero-img-wrap">
                            <img src="../../assets/images/couch.png" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
   

    <!-- Start Why Choose Us Section -->
    <div class="why-choose-section">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-6">
                    <h2 class="section-title">Why Choose Us</h2>
                    <p>{{guestService.HomeContent.paragraph3}}.</p>

                    <div class="row my-5">
                        <div class="col-6 col-md-6">
                            <div class="feature">
                                <div class="icon">
                                    <img src="../../assets/images/truck.svg" alt="Image" class="imf-fluid">
                                </div>
                                <h3>Fast &amp; Free Shipping</h3>
                                <p>{{guestService.HomeContent.paragraph4}}.</p>
                            </div>
                        </div>

                        <div class="col-6 col-md-6">
                            <div class="feature">
                                <div class="icon">
                                    <img src="../../assets/images/bag.svg" alt="Image" class="imf-fluid">
                                </div>
                                <h3>Easy to Shop</h3>
                                <p>{{guestService.HomeContent.paragraph5}}.</p>
                            </div>
                        </div>

                        <div class="col-6 col-md-6">
                            <div class="feature">
                                <div class="icon">
                                    <img src="../../assets/images/support.svg" alt="Image" class="imf-fluid">
                                </div>
                                <h3>24/7 Support</h3>
                                <p>{{guestService.HomeContent.paragraph6}}.</p>
                            </div>
                        </div>

                        <div class="col-6 col-md-6">
                            <div class="feature">
                                <div class="icon">
                                    <img src="../../assets/images/return.svg" alt="Image" class="imf-fluid">
                                </div>
                                <h3>Hassle Free Returns</h3>
                                <p>{{guestService.HomeContent.paragraph7}}.</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-5">
                    <div class="img-wrap">
                        <img src="../../assets/uploadImage/{{guestService.HomeContent.paragraph8}}" alt="Image" class="img-fluid">
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Start Team Section -->
      <!-- Start Team Section -->
      <div class="untree_co-section">
        <div class="container">

            <div class="row mb-5">
                <div class="col-lg-5 mx-auto text-center">
                    <h2 class="section-title">Our Team</h2>
                </div>
            </div>

            <div class="row" style="justify-content: center;">

                <!-- Start Column 1 -->
                <div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
                    <img src="../../assets/uploadImage/ART_4400 copy.jpg" style="border-radius: 10%;" class="img-fluid mb-5">
                    <h3 clas>Feras Al-khuzai</h3>
        <span class="d-block position mb-4">CEO, Founder, PLANET.</span>
        <p>We brought technologies from space to Earth to build Planet Store.</p>
        <p class="mb-0"><a href="https://www.linkedin.com/in/al5za3i/" class="more dark">Learn More <span class="icon-arrow_forward"></span></a></p>
                </div> 
                <!-- End Column 1 -->

                <!-- Start Column 2 -->
            
                <!-- End Column 2 -->

             
                <!-- End Column 3 -->

                <!-- Start Column 4 -->
           
                <!-- End Column 4 -->

                

            </div>
        </div>
    </div>
    <!-- End Team Section -->

    <!-- End Team Section -->

    


    <app-footer></app-footer>